.normal-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  .item {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
      height: 64px;
    }
    &:hover {
      transform: scale(1.05);
    }
    transition: all ease 0.15s;
  }
  .selected {
    background-color: #b3e5fc;
    border-radius: 4px;
    padding: 2px;
    transition: all ease 0.15s;
    &.dark {
      background-color: #1e88e5;
      color: #fff;
    }
  }
}

.right-panel {
  border-left: 1px solid #dee2e6;
  @media screen and (max-width: 600px) {
    border-left: none;
    border-top: 1px solid;
  }
  height: 400px;
  &.dark {
    border-color: #373a40;
  }
}
