.container {
  position: relative;
  height: 100%;
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    border-radius: 8px;
  }
  .btn-run {
    position: absolute;
    right: 8px;
    z-index: 1;
    left: 256px;
    top: 4px;
  }
}

.log-panel {
  background-color: #232323;
  min-height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #fff;

  .data-panel {
    box-sizing: border-box;
    padding: 8px 8px 8px 12px;
    flex: 1 1 50%;
    min-width: 50%;
    .log {
      color: #fff;
    }
  }
  .error-panel {
    box-sizing: border-box;
    min-width: 50%;
    padding: 8px;
    border-left: 1px #fafafa solid;
    .log {
      color: #e53935;
    }
  }
}
